.env
config.yml
.python-version
__pycache__/
*.pyc
*.js
*.json
*.js

.ansible/cred*

# venv and testing scripts
venv/*
venv
.venv
test.py
test_bertopic.py
test_api
.env
logs
# models
models/*
test_api/*
mp_test.py

docker-compose.yml
config_local.yml
docker-compose.debug_windows.yml
.docker/entrypoint.debug.bat
